<footer>
    <button id="openMap">View Map</button>
    <div id="map-modal">
        <img src="../img/Tokyo-Basic-Map.png">
        <div id="modal-footer">
            <button id="map-close-btn" href="/tokyo">Close</button>
        </div>
        </div>
    </div>
</footer>   