<header>
<div class="nav-bar">
<div class="nav-bar-left">
    <h1 id="app-title" >Build-A-Trip</h1>
    <ul class="nav-bar-list">
        <li class="nav-item"><a href="/tokyo">Browse recommendations</a></li>
        <li class="nav-item"><a href="/users">My Itinerary</a></li>
    </ul>
</div>

<div class="nav-bar-right">
    <a href='/users/new'><span id="create-btn">Create activity</span></a>
</div>
</div>

</header>