<header>
<div class="nav-bar">
        <h1><a href="/tokyo" id="app-title">Build-A-Trip</a></h1>
        <ul class="nav-bar-list">
            <li><a href="/tokyo" class="nav-item">Browse recommendations</a></li>
            <li><a href="/users" class="nav-item">My Itinerary</a></li>
        </ul>
</div>
</header>