<body>
    <h1>Build-A-Trip</h1>
   <a href='/tokyo/new'></a>
    <ul>
        <li><a href='/tokyo'>all</a></li>
        <li><a href='/tokyo/food'>food</a></li>
        <li><a href='/tokyo/lifestyle'>lifestyle</a></li>
        <li><a href='/tokyo/entertainment'>entertainment</a></li>
        <li><a href='/tokyo/culture'>culture</a></li>
        <li><a href='/tokyo/shopping'>shopping</a></li>
     </ul>
    <div>
            <h3><%= data.title %></h3>
            <a href="/tokyo/">Cancel</a>
            <a href="/tokyo/####">Back to Itinerary</a>
    </div>
</body>