<main class="itinerary-page">
    <a href='/users/new'><span id="create-btn">+ Add Custom Activity</span></a>
    <div class="itinerary-layout">
        <h1 id="itinerary-header">Itinerary List:</h1>
    <% data.forEach(details => { %>
        <div class="itinerary-activity-container">
            <a href="/users/<%= details.id %>" class="itinerary-text title" id="itinerary-title"><%= details.title %></a>
       <ul class= "itinerary-btns-group">
            <li><form action="/users/<%= details.id %>?_method=DELETE" method="POST">
                <button class=itinerary-btn" id="delete-btn" type="submit">
                    <span class="material-icons">delete</span>
                </button>
            </form></li>
        </ul>
        </div>
            <% }) %>
            </ul> 
        </div>
</main>

