
 <main id="itinerary-page">
    <a href='/users/new'><span id="create-btn">+ Add Custom Activity</span></a>
    <div class="itinerary-layout">
        <h1 id="itinerary-header">Itinerary</h1>
    <% data.forEach(details => { %>
        <div class="itinerary-activity-container">
        <h2 class="itinerary-text" id="itinerary-title"><%= details.title %></h2>
       <ul class= "itinerary-btns-group">
            <li><a href="/users/<%= details.id %>" class="itinerary-btn" id="read-more-btn">Read More</a></li>
            <li><form action="/users/<%= details.id %>?_method=DELETE" method="POST">
                <input class=itinerary-btn" id="delete-btn" type="submit" value="Delete"/>
            </form></li>
        </ul>
        </div>
            <% }) %>
            </ul> 
        </div>
</main>

