/* Global Styling */
html {
    font-size: 18px;
  }

body{
    background-color: #ffffff;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}

main {
    margin: 60px 0px 0px 0px;
    padding-bottom: 2rem;
    min-height: 600px;
}

h2{
    color: #0077DD;
    font-size: 1.2em;
}

p {
    color: #001221;
    font-size: 1em;
}

.labels {
    font-weight: 600;
}

/* Partials - Header Formatting */
.nav-bar{
    display: flex;
    z-index: 500;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: none;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}

#app-title {
    color: #001221;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

#app-title:hover {
    color: #0077DD;
}

.nav-bar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.nav-item {
    color: #001221;
    font-size: 1rem;
    padding: 0 10px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-item:hover {
    color: #3498db;
}

/* Partials - Footer Formatting*/
footer {
  border: none;
  height: 30px;
  margin: 0px;
  top: 0;
  left: 0;
}


/* Index ("Browse Recommendations") page formatting*/
.hero-box{
  background: url('../img/hero-pic-su-san-lee-E.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-content{
  display: flex;
  flex-direction: column;
}

#hero-text{
  font-size: 3em;
  font-weight: 400;
  color: #000000;
  letter-spacing: 10px;
  position: absolute;
  margin: 0rem 0rem 0rem 4rem;
  top: 30%;
}

.filter-bar {
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 10px;
    width: 80%
  }

.filter-list-item {
    text-decoration: none;
    color:#001221;
}

.filter-list-item:hover {
    text-decoration: underline;
}

.filter-list-item:active {
  text-decoration: underline;
}

.activity-grid{
  /* display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 530px auto 530px;
  column-gap: 10px;
  row-gap: 15px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-container {
    border-radius: 15px;
    transition: all .2s ease-in-out;
    width: 30%;
    margin: 1rem;
    background-color: #ffffff;
    border: 1px solid #EBECF0;
    overflow: hidden;
    white-space: nowrap; 
}

.activity-container:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.008);
}

.image-index {
  width: 100%;
  height: 230px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.text-body {
    padding: 0rem 1rem;
    margin: 0;
    text-overflow: ellipsis; 
}

.title {
  color: #0077DD;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  /* width: 50px;  */
}

.title:hover{
  text-decoration: underline;
}

.sm-line{
  width: 10%;
  margin-left: 1rem;
  color: #9c9c9c;
}

.title-price-location-cat-container{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.price-genLocation-cat-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#price{
    padding-top: 0.5rem;
    padding-right: 0rem;
    font-size: 0.85rem;
}

#category{
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0rem;
  font-size: 0.85rem;
  text-transform: capitalize;
} 

#genLocation{
  /* padding-top: 0.5rem; */
  font-size: 0.85rem;
  color: #9c9c9c;
}

#time {
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  font-size: 0.85rem;
}

.tips-container {
    padding-bottom: 1rem;
    /* padding-top: 0.8rem; */
    display: flex;
    flex-direction: row;
}

#tips {
  padding-left: 10px;
}

.activity-btn {
    padding: 20px 0px 20px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #cfd1d8;
    margin: 0;
    border-radius: 0px 0px 15px 15px;
    color: #0077DD;
    text-decoration: none;
    width: 100%;
}

.activity-btn:hover {
  text-decoration: underline;
  background-color: #cfd1d8;
}


#tips-icon {
  width: 50px;
  height: 40px;
  padding-right: 0;
}

/* Show View ("/tokyo/:id") */
.show-activity-container {
  border-radius: 15px;
  background-color: #ffffff;
  width:90%;
  margin: 100px auto;
}

.show-all-container{
  display: flex;
  flex-direction: row;
}

.show-info{
  display: flex;
  justify-content: space-between;
}

.image-show{
  /* align-self: flex-end; */
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  margin: 1rem;
  object-fit: cover;
}

#view-upper-text{
  padding-bottom: 1rem;
}

.view-text {
  padding: 1rem 1rem;
  font-size: 0.9rem;
  margin: 0;
}

.english-container{
  display: flex;
  align-items: center;
}

.english{
  margin-left: 0.5rem;
}

/* .activity-controls {
  align-self: flex-end;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #cfd1d8;
} */

#back-container{
  margin: 1rem;
  display: flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: #0077DD;
}

#back-btn {
  list-style: none;
  color: #0077DD;
  text-decoration: none;
}

#back-btn:hover{
  text-decoration: underline;
}

.show-add-btn{
  list-style: none;
  width: 150px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  /* display:flex; */
  /* justify-content: center; */
  margin-top: 1rem;
  padding: 10px; 
  color: #0077DD;
  background-color: #ffffff;
  text-decoration: none;
  border: 2px solid #0077DD;
  /* width: 100%; */
}

.show-add-btn:hover {
  color: #ffffff;
  background-color: #0077DD;
}

.show-add-btn:active {
  color: #ffffff;
  background-color: #0077DD;
}



/* "My Itinerary" page formatting (user-show.ejs)*/
.itinerary-page{
    display: flex;
    flex-direction: column;
    background-color: #EBECF0;
}

#create-btn {
    background: #0077DD;
    float: right;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 2rem;
    margin-right: 20px;
    margin: 2rem 2rem 2rem 0rem;
    text-decoration: none;
    width: 200px;
    text-align: center;
    transition: color 0.3s ease-out;
  }
  
  #create-btn:hover {
    background: #3cb0fd;
  }

  #itinerary-header{
    text-transform: uppercase;
    text-align: center;
  }
  
  .itinerary-layout{
    border-radius: 15px;
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
  }
  .itinerary-activity-container {
    padding: 10px 0px 10px 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #cfd1d8;
  }

  #itinerary-title{
    margin-left: 30px;
  }

  .itinerary-btns-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    list-style: none;
  }

  .itinerary-btn {
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    margin-right: 15px;
    color: #3498db;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .itinerary-btn:hover {
    text-decoration: underline;
  }

  #delete-btn {
    border: 0;
    text-align: center;
    font-size: 1rem;
    color: #d52e2e;
    border-radius: 10px;
    background-color: #ffffff;  
}

#delete-btn:hover{
    color:#fd3c3c;
}


/* New View ("/users/new") */
.new-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

input[type=text], select {
    margin: 0 0 1em 0;
    width: 800px;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #cfd1d8;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[class=submit-btns] {
    background-color: #0077DD;
    color: #ffffff;
    padding: 10px 10px;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width:100px;
  }
  
  input[class=submit-btns]:hover {
    background-color: #3498db;
  }
  
  input[id="notes"] {
    height: 70px;
  }

  .new-form-btns{
    display:flex;
    flex-direction: row;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

  #cancel-btn {
    background-color: #d52e2e;
    color: #ffffff;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #cancel-btn:hover {
    background: #fd3c3c;
    text-decoration: underline;
  }
  

  /* User Activity Show View ("/users/:id") */
  .user-show {
    width: 80%;
    margin: 100px auto;
  }
  .user-show-act-container {
    border-radius: 15px;
    background-color: #ffffff;
    margin: 20px auto;
  }

  .user-show-btns{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  .user-show-btn {
    color: #ffffff;
    padding: 10px 10px;
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    width: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-show-btn:hover {
    text-decoration: underline;
  }
  #back-to-btn{
    background-color: #505050;
  }
  #back-to-btn:hover{
    background-color: #5e5e5e;
  }
  #edit-btn{
    background-color: #0077DD;
  }
  #edit-btn:hover{
    background-color: #3498db;
  }

  #notes-textbox{
  height: 200px;
  padding-bottom: 1rem;
}

/* User Activity Edit View ("/users/edit/:id") */
.edit-btns{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  padding-right: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
} 


/* FOOTER */
.copywright{
  margin: 1rem;
}



@media screen and (max-width: 1139px) {
html{
  font-size: 16px;
}
.activity-container {
  width: 40%;
}
}

@media screen and (max-width: 700px) {
  html{
    font-size: 16px;
  }
  .activity-container {
    width: 90%;
  }
  }

@media screen and (max-width: 400px) {
  html{
    font-size: 14px;
  }
  .activity-container {
    width: 90%;
    margin: 1rem auto;
  }
  }