<form method='POST', action='/users/register'>
    <label for="first-name">First name:</label>
    <input type="text" id="first-name" name="first-name"><br>
    <label for="last-name">Last name:</label>
    <input type="text" id="last-name" name="last-name">
    <input type="submit" value="Submit">
</form>